.footer_link_container {
    width: 100%;

    display: flex;
    justify-content: center;
}

div[class*="footer_link_container"] > a {
    color: #b4b4b4;

    font-size: 10px;

    text-decoration: none;

    margin: 0 1.5% 0 1.5%;
}

.footer_image_container {
    margin-top: 15%;
}

.footer_image {
    width: 55%;
}