.general_container {
    position: relative;
    width: 100%;
    margin-bottom: 60%;
}
  
.services_list_container {
    width: 405px;
    float: left;
}
  
.services_list_header {
    font-size: 45px;
    color: #b69a67;
  
    text-decoration: overline 2px;
    border-bottom: 1px solid #454545;
  
    margin: 0 0 5% 0;
    padding: 0;
}
  
.services_list {
    list-style-type: none;
}
  
ul[class*="services_list"] > li {
    font-size: 23px;
  
    padding-top: 2%;
}

ul[class*="services_list"] > li > p:hover {
    cursor: pointer;
}

.services_text_container {
    position: relative;

    width: auto;
    
    display: none;
}
  
.services_text {
    width: 26%;
    text-align: justify;
    float: right;
  
    font-size: 14px;
  
    margin-top: 5%;
    margin-right: 35%;
}

.services_image {
    float: right;
    width: 45%;
  
    margin-right: 15%;
}

.services_text_logo_design {
    margin-top: 11%;
}

.services_image_logo_design {
    position: absolute;
    left: 43%;

    margin-top: 12%;
}

.services_text_ul {
    margin-top: 24%;
}

.services_image_ul {
    position: absolute;

    margin-top: 12%;
    margin-left: 23%;

    width: 25%;
}

.services_text_photography {
    margin-top: 31%;
}

.services_image_photography {
    position: absolute;

    margin-top: 3%;
    margin-left: 10%;

    width: 45%;
}
  
.services_link {
    color: #b69b67;

    text-decoration: none;
}

a[class*="services_link"] > span {
    color: #b4b4b4;
}





@media screen and (max-width: 1100px) {
    .services_text {
        width: 30%;
        margin-right: 25%;
    }

    .services_image {
        width: 35%;
    }

    .services_image_logo_design {
        margin-top: 16%;
    }
}