.title_page_header_container {
    width: 37%;
    margin-right: auto;
    margin-left: auto;
}
  
.undercover {
    font-family: "Playfair Display SC", serif;
    font-size: 45px;

    text-decoration: overline 2px;
    color: #b69a67;
  
    margin-top: 13%;
    margin-bottom: 0;
    padding: 0;
}

.design_team_container {
    width: 100%;
}
  
.design_team {
    font-size: 23px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    text-align: right;
  
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
  
.title_page_image {
    width: 27%;
    margin-top: 70px;
    margin-bottom: 0;
}
  
.title_page_menu {
    position: absolute;
    float: left;
  
    right: 7%;
    top: 28%;
  
    width: 35px;
  
    border: 1px solid #454545;
    padding: 15px 10px;

    z-index: 1;
}
  
img[class*="title_page_menu"]:hover {
    border-color: #b69b67;
}

.title_page_text_container {
    margin: auto 0;
}

.title_page_text {
    font-size: 40px;

    margin-top: 0;
    
    color: #636363;
}
  
.title_page_text_gradient_one {
    background: linear-gradient(90deg, #636363, #dcbe86, #636363);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title_page_text_gradient_two {
    background: linear-gradient(90deg, #636363, #978667, #636363);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#title_page_text_two {
    display: none;
}
  
.title_page_more_text {
    color: #454545;
  
    margin-top: 20%;
}
  
.title_page_more_image {
    margin-bottom: 10%;
}





@media screen and (max-width: 1050px) {
    .title_page_text {
        font-size: 40px;
    }

    #title_page_text_one {
        display: none;
    }

    #title_page_text_two {
        display: block;
    }
}


@media screen and (max-width: 630px) {
    .undercover {
        font-size: 35px;
    }
}

@media screen and (max-width: 570px) {
    .title_page_menu {
        right: -10%;
    }
}


@media screen and (max-width: 430px) {
    .title_page_text {
        font-size: 25px;
    }

    .undercover {
        font-size: 30px;
        margin-left: -5px;
    }

    .title_page_menu {
        right: -20%;
    }
}